/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.headersection {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(119, 189, 255), rgb(24, 141, 250));
}

.headertext {
    color:white;
}

/* Body */

body {
    font-family: sans-serif;
}

.input {
    text-align: center;
    margin: 100px;
}

.inputValue {
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}

#button {
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.display {
    text-align: center;
}