/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.headersection {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(119, 189, 255), rgb(24, 141, 250));
}

.headertext {
    color:white;
}

/* Body */

body {
    font-family: sans-serif;
}

.container {
    color:#383838;
    /*border: solid rgb(187, 187, 187);*/
}

.row {
    border: solid rgb(119, 189, 250);
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.column col-3 {
    
}

/*Current Conditions Five Day Forecast */

#currentConditions {
    margin-left: 420px;
    margin-bottom: 50px;
}

#fiveDayForecast {
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
}

.hide {
    display: none;
}

.uvi {
    color: green;
}

.text-primary {
    font-weight: bold;
}
